.pageEmptyBlock {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.addNewsBlock {
  margin-bottom: 20px;
}

.loader {
  margin-bottom: 20px;
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
